@font-face {
  font-family: "Jakarta";
  src: url(../assets/font/Momo_Signature/PlusJakartaSans-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
  letter-spacing: -0.2rem;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #E9ECEF;
}

.header{
    border: none;
    background-color: #E9ECEF;
}

.header ul{
    gap: 20px;
}

.header ul li{
    padding: 19px 0 19px 0;
    border-radius: 5px;
    width: 165px;
    font-size: 17px;
    color: #777;
    background-color: #fff;
    transition: border-radius 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: none;
    font-family: 'Jakarta', sans-serif;
    font-weight: 500;
}

.header ul a{
    text-decoration: none;
}

.header ul li:hover{
    background-color: #4c7ceb;
    color: #f8f9fe;
    border-radius: 15px;
}

.main-analyt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-analyt-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1470px;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
}

.card-analyt{
    background-color: #fff;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.card-analyt img{
    height: 30px;
    width: 30px;
}

.card-analyt h2{
    font-family: 'Jakarta', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.section-name{
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-chart{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.section-chart h2{
    font-weight: 500;
    font-size: 27px;
    letter-spacing: -0.1rem;
}

.section-chart span{
    margin-left: 7px;
}

.section-chart p{
    background-color: #DCFCE7;
    align-items: center;
    height: max-content;
    padding: 10px;
    font-size: 15px;
    align-items: center;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    color: #22C55E;
}
.section-chart .p-down{
    background-color: #FEE2E2;
}
.section-chart .p-down{
    color: #EF4444;
}
.section-chart p img{
    width: 15px;
    height: 15px;
}

.progress-bar{
    border-radius: 20px;
    background-color: #4c7ceb6e;
    width: 100%;
    height: 10px;
    margin-top: 18px;
}
.progress-load{
    height: 10px;
    width: 80%;
    border-radius: 20px;
    background-color: #4c7ceb;
}

.last-week{
    color: #8e8d8d;
    font-size: 15px;
}

.main-analyt-2{
    width: 90%;
    max-width: 1470px;
    justify-content: center;
    display: flex;
    gap: 20px;
    font-family: 'Jakarta', sans-serif;
    margin-bottom: 40px;
}

.main-analyt-2-1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 25px 0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 70%;
}

.title-analyt-chart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-analyt-chart h2{
    font-weight: 500;
    font-size: 27px;
}

.title-analyt-chart h2, .status{
    padding: 0 20px;
}

.status{
    display: flex;
    gap: 20px;
    align-items: center;
    gap: 15px;
}

.status p{
    margin-left: -10px;
}

.success, .failed{
    width: 20px;
    height: 20px;
}

.success{
    background-color: #4a69bd;
}

.failed{
    background-color: #aab6fe;
}

.charts{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border-radius: 10px;
}

.chart-month{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 400px;
    justify-content: flex-end;
}

.progress-chart-month{
    position: relative;
    gap: 10px;
    height: 100%;
    background-color: #aab6fe;
    width: 50px;
    border-radius: 20px;
}

.load-month-success, .load-month-fail{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
}

.load-month-success{
    background-color: #4a69bd;
    z-index: 10;
}
.load-month-fail{
    background-color: #8eaaeb;
    z-index: 5;
    height: 100%;
}

.main-analyt-2-2{
    width: 30%;
    background-color: #fff;
    gap: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
}

.title-analyt-2-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px;
}

.title-analyt-2-2 h2{
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.title-analyt-2-2 a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #4c7ceb;
}

.main-analyt-2-2 img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
}

.food-info{
    width: 90%;
    border: 1px solid #4a69bd;
    border-radius: 20px;
}

.food-info h4{
    font-weight: 400;
    font-size: 20px;
    padding-left: 15px;
}

.food-info p{
    font-weight: 400;
    font-size: 15px;
    padding-left: 15px;
}