@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../assets/font/Momo_Signature/PlusJakartaSans-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
  letter-spacing: -0.2rem;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Main Article Page - 1 */

.main-article {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-article-1 {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
  max-width: 1470px;
  padding: 80px 0;
}

.profile img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.main-article-1-left {
  flex: 1;
}

.main-article-1-right {
  width: 45%;
  justify-content: center;
  align-items: center;
}

.judul-atas-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

.hungy-text {
  color: #4c7ceb;
  border-bottom: #4c7ceb 3px solid;
}

.judul-atas-1,
.main-article-1-left p {
  color: #2c3e75;
}

.main-article-1-left p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: large;
  line-height: 1.5rem;
}

.main-article-1-left button {
  background-color: #2c3e75;
  color: #fff;
  height: 70px;
  width: 190px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
}

.main-article-1-left button:hover {
  background-color: #1f2c51;
}

.hero-gallery {
  flex: 1;
  position: relative;
  height: 500px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-img {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 0;
  left: 160px;
  z-index: 2;
}
.side-img {
  position: absolute;
  width: 200px;
  height: 180px;
  top: 70px;
  right: 80px;
  z-index: 1;
}
.big-img {
  position: absolute;
  height: 240px;
  width: 400px;
  bottom: 0;
  top: 270px;
  left: 125px;
  z-index: 3;
  /* border: 10px solid #f8f9fe; */
}
/* Penutup Main Article Page - 1 */

/* Main Article Page - 2 */
.main-article-2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0 170px 0;
  background-color: #2c3e75;
}

.main-article-2-1 {
  width: 90%;
  max-width: 1470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-article-2-1 h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}
.main-article-2-1 button {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 70px;
  width: 190px;
  font-size: 18px;
  background-color: #f8f9fe;
  color: #2c3e75;
  border: none;
}

.main-article-2-1 button:hover {
  background-color: #e0e1e6;
}

.main-article-2-2 {
  display: flex;
  grid-template-columns: 1fr, 1fr;
  gap: 25px;
  width: 90%;
  max-width: 1470px;
  margin-top: 80px;
}

.latest-article {
  display: flex;
  flex-direction: column;
  color: #f8f9fe;
  overflow: hidden;
}

.img-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 370px;
  aspect-ratio: 16 / 10;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.75s cubic-bezier(0.2, 1, 0.2, 1);
}

.img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 1;
}

.img-box img:hover {
  transform: scale(1.1);
}

.label {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: white;
  color: #2c3e75;
  padding: 14px 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1.5px;
  z-index: 2;
}

.content h3,
.content p {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content h3 {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #f8f9fe;
}

.content p {
  font-weight: 400;
  color: #cecfd2;
  line-height: 1.6;
}
/* Penutup Main Article Page - 2 */

/* Main Article Page - 3 */
.main-article-3 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0 170px 0;
  background-color: #f8f9fe;
}

.main-article-3-1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1470px;
}
.main-article-3-1 h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #2c3e75;
  font-size: 40px;
}
.main-article-3-1 button {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 70px;
  width: 190px;
  font-size: 18px;
  border: none;
  background-color: #2c3e75;
  color: #f8f9fe;
}

.main-article-3-1 button:hover {
  background-color: #202d55;
}

.main-article-3-popular {
  width: 90%;
  max-width: 1470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-top: 100px;
}

.popular-img {
  position: relative;
  height: 450px;
  width: 1150px;
  aspect-ratio: 16 / 10;
  overflow: hidden;
}

.popular-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.75s cubic-bezier(0.2, 1, 0.2, 1);
}

.popular-img img:hover {
  transform: scale(1.1);
}

.popular-img::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.popular-label {
  font-family: "Plus Jakarta Sans", sans-serif;
  position: absolute;
  font-size: 11px;
  letter-spacing: 1.5px;
  top: 20px;
  left: 0;
  padding: 14px 16px;
  background-color: #f8f9fe;
  z-index: 2;
}

.info-popular p,
.info-populer h1,
.info-populer a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

.info-popular p {
  font-size: 25px;
  font-weight: 400;
  color: #747477;
}

.info-popular h1 {
  font-size: 40px;
  font-weight: 400;
  color: #2c3e75;
}

.info-popular a {
  color: #2c3e75;
  font-size: 25px;
}
/* Penutup Main Article Page - 3 */

/* Main Article Page - 4 */
.main-article-4 {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #2c3e75;
}

.main-article-4-1{
    position: relative;
}

.main-article-4-1 img{
    object-fit: cover;
}

.main-article-4-1::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(44, 62, 117, 0), rgba(44, 62, 117, 1));
}

.main-article-4-2{
    position: relative;
    padding: 0 20px;
}

.main-article-4-2 img {
  width: 30px;
  height: 30px;
}

.main-article-4-2 h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #f8f9fe;
  font-size: 50px;
  font-weight: 400;
}
.main-article-4-2 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #cecfd2;
  font-size: 22px;
  line-height: 1.5;
  margin-top: -20px;
}

.email-input{
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

.main-article-4-2 input{
    padding: 23px 0;
    width: 100%;
    padding-left: 20px;
    text-align: left;
    justify-content: left;
    font-size: 25px;
}

.main-article-4-2 button{
    height: 84px;
    width: 84px;
    background-color: #f8f9fe;
    border: none;
}

/* Penutup Main Article Page - 4 */

/* Main Article Page - 5 */
.main-article-5{
    margin-top: 170px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1470px;
}

.main-article-5 .email-input{
    margin-top: 35px;
    width: 100%;
    max-width: 600px;
}

.main-article-5 input{
    padding: 23px 0;
    width: 100%;
    padding-left: 20px;
    text-align: left;
    justify-content: left;
    font-size: 25px;
    border: #2c3e75 1px solid;
    background-color: #f8f9fe;
}

.main-article-5 button{
    height: 84px;
    width: 84px;
    background-color: #f8f9fe;
    border: 1px solid #2c3e75;
}   

.main-article-5 button:hover{
    background-color: #ededef;
}

.main-article-5 img {
  width: 30px;
  height: 30px;
}

.main-article-5 p{
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 50px;
}

.font-hungy{
    font-size: 40px;
}

.line-article-5{
    position: relative;
    width: 100%;
    height: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 170px 0 50px 0;
}

.line-article-5::after{
    content: '';
    position: absolute;
    width: 11%;
    height: 2px;
    border-bottom: #2c3e75 2px solid;
    top: 0;
}

.img-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 120px;
}
.img-social-media img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: #2c3e7559 1px solid;
    padding: 20px;
    border-radius: 50%;
}
.img-social-media img:hover{
    background-color: #efeeee;
}
/* Penutup Main Article Page - 5 */