* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #f4a896, #ffdab9);
  font-family: "Poppins", sans-serif;
  color: #2d3436;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  background-color: rgb(255, 245, 238);
  padding: 20px 0;
  width: 260px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.logo-acc {
  display: flex;
}

.logo-pict {
  background-color: #f4a896;
  gap: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #e8f5e9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.btn-sidebar {
  padding: 20px;
  background-color: rgb(255, 245, 238);
  cursor: pointer;
  color: #636e72;
  gap: 15px;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 400;
  border: none;
  border-right: 4px solid transparent;
}

.btn-sidebar:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-right-color: #f4a896;
}

.btn-sidebar:active {
  background-color: #e8f5e9;
}
.main-content {
  margin-left: 260px;
  width: 100%;
  flex: 1;
  padding: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.name-header {
  justify-content: space-between;
  display: flex;
  padding: 20px 0px 20px 0px;
  width: 85%;
}
.halo-user {
  font-weight: 600;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.acc-profile {
  display: flex;
  padding: 0px 0 0px 0px;
}
.notice,
.profile-pict {
  justify-content: end;
  text-align: end;
  width: max-content;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.notice {
  margin-right: 20px;
}

.card-1 {
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff5ee;
  width: 85%;
  border-radius: 15px;
  height: max-content;
}

.main-card {
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.text-kalori-atas {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.total-kalori {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.total-kalori-text {
  font-size: 5vh;
  font-weight: bold;
  color: #66bb6a;
}
.total-kalori-text-2 {
  margin-top: 8px;
  font-weight: 300;
  font-size: 15px;
  color: #636e72;
}

.progress-bar {
  height: 10px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #636e72;
  width: 100%;
  margin-top: 10px;
}

.persen-progress-bar {
  width: 80%;
  background: linear-gradient(to right, #f4a896 100%, #ffdab9 0%);
  height: 100%;
  border-radius: 10px;
  transition: width 0.5s;
}

.card-nutrition {
  margin: 20px 0px 0px 0px;
  width: 100%;
  display: grid;
  padding: 0px 0px 0px 0px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.card-karbo,
.card-protein,
.card-lemak {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  width: fit-content;
  margin: 10px 0px 0px 0px;
  width: auto;
}

.card-karbo {
  margin-right: 20px;
}

.card-lemak {
  margin-left: 20px;
}

@media (max-width: 800px) {
  .card-nutrition {
    margin: 15px 0px 0px 0px;
    width: 100%;
    display: grid;
    padding: 0px 0px 0px 0px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .card-karbo,
  .card-protein,
  .card-lemak {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    width: fit-content;
    margin: 10px 0px 0px 0px;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.card-nut-text {
  font-size: small;
  font-weight: 300;
  color: #636e72;
}

.g {
  font-size: small;
  font-weight: 600;
  color: #636e72;
}

.card-2 {
  width: 85%;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-2-inner {
  background-color: #fff5ee;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 30px max-content max-content;
  height: max-content;
  width: 23%;
  border: 2px solid transparent;
}

.card-2-inner:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
}
.card-2-inner img {
  width: 30px;
  height: 30px;
  grid-column: 1;
  grid-row: 1 / span 2;
}
.card-2-inner h5 {
  grid-column: 2;
  grid-row: 1;
}
.card-breakfast-time,
.card-lunch-time,
.card-dinner-time,
.card-snack-time {
  grid-column: 2;
  grid-row: 1;
  font-size: 10px;
  color: #636e72;
  margin-top: 15px;
}
.card-2-inner h4 {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-top: 10px;
}
.card-breakfast-kkal,
.card-lunch-kkal,
.card-dinner-kkal,
.card-snack-kkal {
  grid-column: 1 / span 2;
  grid-row: 3;
  margin-top: 5px;
  font-size: 10px;
  color: #636e72;
}

/* Tablet preview */
@media (min-width: 800px) and (max-width: 1180px) {
  .card-2 {
    width: 85%;
    margin-top: 20px;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    gap: 14px;
  }

  .card-2-inner {
    background-color: #fff5ee;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 30px max-content max-content;
    height: max-content;
    width: 100%;
    border: 2px solid transparent;
  }

  .card-2-inner:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
  }
  .card-2-inner img {
    width: 30px;
    height: 30px;
    grid-column: 1;
    grid-row: 1;
  }
  .card-2-inner h5 {
    grid-column: 2;
    grid-row: 1;
  }
  .card-breakfast-time,
  .card-lunch-time,
  .card-dinner-time,
  .card-snack-time {
    grid-column: 2;
    grid-row: 1;
    font-size: 10px;
    color: #636e72;
    margin-top: 15px;
  }
  .card-2-inner h4 {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 10px;
  }

  .card-breakfast-kkal,
  .card-lunch-kkal,
  .card-dinner-kkal,
  .card-snack-kkal {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin-top: 5px;
    font-size: 10px;
    color: #636e72;
  }
}

@media (min-width: 100px) and (max-width: 795px) {
  .card-2 {
    width: 85%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
  }

  .card-2-inner {
    background-color: #fff5ee;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 30px max-content max-content;
    height: max-content;
    width: 100%;
    border: 2px solid transparent;
  }

  .card-2-inner:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
  }
  .card-2-inner img {
    width: 30px;
    height: 30px;
    grid-column: 1;
    grid-row: 1;
  }
  .card-2-inner h5 {
    grid-column: 2;
    grid-row: 1;
  }
  .card-breakfast-time,
  .card-lunch-time,
  .card-dinner-time,
  .card-snack-time {
    grid-column: 2;
    grid-row: 1;
    font-size: 10px;
    color: #636e72;
    margin-top: 15px;
  }
  .card-2-inner h4 {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 10px;
  }

  .card-breakfast-kkal,
  .card-lunch-kkal,
  .card-dinner-kkal,
  .card-snack-kkal {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin-top: 5px;
    font-size: 10px;
    color: #636e72;
  }
}

.card-3{
    justify-content: space-between;
    display: flex;
    width: 85%;
    margin-top: 20px;
}

.card-3-section{
    width: 32.5%;
    background-color: #fff5ee;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    align-items: center;   
    text-align: center; 
    font-size: small;
    font-size: 10px;
}

.card-3-section img {
    width:20px;
    height: 20px;
    margin-right: 15px;
    background-color: #ffdab9;
    padding: 3px;
    border-radius: 4px;
}

.card-3-section:hover{
    transform: translateY(-2px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
}

@media (max-width: 800px){
    .card-3{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 15px;
}

.card-3-section{
    width: 100%;
    margin-bottom: 15px;
}
}