body {
  color: #2d3436;
}

.main-foodlog {
  padding: 80px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-main-foodlog {
  display: flex;
  width: 80%;
  max-width: 1176px;
  gap: 20px;
}

/* Card berada diatas kiri */
.card-foodlog:nth-child(1) {
  background-color: #f8f9fe;
  width: 60%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #8d8c8c46;
}

.card-foodlog:nth-child(1) h2 {
  margin: 0;
}

.card-foodlog:nth-child(1) .input-row:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 8px;
}
.card-foodlog:nth-child(1) .input-row:nth-child(2) label {
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(2) input {
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  font-size: medium;
}

.card-foodlog:nth-child(1) .input-row:nth-child(3) {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.card-foodlog:nth-child(1) .input-row:nth-child(3) label {
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(3) input:nth-child(2){
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  height: 1fr;
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(3) select:nth-child(2){
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  height: 1fr;
  font-size: medium;
}
.input-porsi,
.input-unit {
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.card-foodlog:nth-child(1) .input-row:nth-child(4){
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}
.card-foodlog:nth-child(1) .input-row:nth-child(4) label{
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(4) select{
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  font-size: medium;
}

.card-foodlog:nth-child(1) .input-row:nth-child(5){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 20px;
  margin-top: 20px;
}
.input-row-5-content{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-row-5-content label{
  font-size: medium;
}
.input-row-5-content input{
  padding: 15px 15px;
  background-color: #eff0f5;
  border: 1px solid #8d8c8cd4;
  border-radius: 8px;
  font-size: medium;
}

.card-foodlog:nth-child(1) button{
  margin-top: 25px;
  width: 100%;
  padding: 20px;
  background-color: #4c7ceb;
  color: #eff0f5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.card-foodlog:nth-child(1) button:hover{
  background-color: #4c7cebe6;
  color: #eff0f5;
}
/* Card yang berada diatas kiri */

/* Card yang berada diatas kanan */
select{
  appearance: none;
}

.card-foodlog:nth-child(2) {
  height: 1fr;
  width: 40%;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  padding: 0;
}

.card-target-kalori{
  border: 1px solid #8d8c8c46;
  border-radius: 8px;
  padding: 20px;
}
.card-target-kalori h3{
  font-size: large;
  font-weight: 600;
  margin: 0;
}
.card-target-kalori p{
  font-size: medium;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.bar{
  width: 100%;
  border-radius: 20px;
  height: 10px;
  background-color: #8d8c8cd4;
}
/* Card yang berada diatas kanan */
.content-main-foodlog:nth-child(2) .card-foodlog:nth-child(1) {
  background-color: red;
  width: 1fr;
}