body {
  color: #2d3436;
}

.main-foodlog {
  padding: 80px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-main-foodlog {
  display: flex;
  width: 80%;
  max-width: 1176px;
  gap: 20px;
}

select {
  appearance: none;
}

input:focus,
select:focus {
  outline: solid 1px #4c7ceb;
}
.input-kcal:focus {
  outline: solid 1px #4c7ceb;
  border: 1px solid #4c7ceb;
}
.input-protein:focus {
  outline: solid 1px #4c7ceb;
  border: 1px solid #4c7ceb;
}
.input-karbo:focus {
  outline: solid 1px #4c7ceb;
  border: 1px solid #4c7ceb;
}
.input-lemak:focus {
  outline: solid 1px #4c7ceb;
  border: 1px solid #4c7ceb;
}

/* Card berada diatas kiri */
.card-foodlog:nth-child(1) {
  background-color: #f8f9fe;
  width: 60%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #8d8c8c46;
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
}

.card-foodlog:nth-child(1) h2 {
  margin: 0;
}

.card-foodlog:nth-child(1) .input-row:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 8px;
}
.card-foodlog:nth-child(1) .input-row:nth-child(2) label {
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(2) input {
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  font-size: medium;
}

.card-foodlog:nth-child(1) .input-row:nth-child(3) {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}
.card-foodlog:nth-child(1) .input-row:nth-child(3) label {
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(3) input:nth-child(2) {
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(3) select:nth-child(2) {
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  font-size: medium;
}
.input-porsi,
.input-unit {
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-foodlog:nth-child(1) .input-row:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
}
.card-foodlog:nth-child(1) .input-row:nth-child(4) label {
  font-size: medium;
}
.card-foodlog:nth-child(1) .input-row:nth-child(4) select {
  background-color: #eff0f5;
  padding: 15px 15px;
  border-radius: 8px;
  border: 1px solid #8d8c8cd4;
  font-size: medium;
}

.card-foodlog:nth-child(1) .input-row:nth-child(5) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 20px;
  margin-top: 30px;
}
.input-row-5-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 1fr;
}

.input-row-5-content label {
  font-size: medium;
}
.input-row-5-content input {
  padding: 15px 15px;
  background-color: #eff0f5;
  border: 1px solid #8d8c8cd4;
  border-radius: 8px;
  font-size: medium;
}

.card-foodlog:nth-child(1) button {
  margin-top: 40px;
  width: 100%;
  padding: 20px;
  background-color: #4c7ceb;
  color: #eff0f5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: medium;
}
.card-foodlog:nth-child(1) button:hover {
  background-color: #4c7cebe6;
  color: #eff0f5;
}
/* Card yang berada diatas kiri */

/* Card yang berada diatas kanan */
.card-foodlog:nth-child(2) {
  width: 40%;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  padding: 0;
  gap: 20px;
}

.card-target-kalori {
  border: 1px solid #8d8c8c46;
  border-radius: 8px;
  padding: 30px 20px;
}
.card-target-kalori h3 {
  font-size: large;
  font-weight: 600;
  margin: 0;
}
.card-target-kalori p {
  font-size: medium;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 15px;
}
.bar {
  width: 100%;
  border-radius: 20px;
  height: 10px;
  background-color: #a4bcf6;
  margin-top: 10px;
}
.progress-bar {
  width: 80%;
  height: 100%;
  border-radius: 20px;
  background-color: #4c7ceb;
}

.card-gizi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.card-gizi-content {
  padding: 20px;
  border: 1px solid #8d8c8c46;
  border-radius: 8px;
}

.card-gizi-content p {
  font-size: medium;
}

.card-gizi .card-gizi-content h2 span {
  color: #2d3436;
  font-size: small;
  margin-left: 5px;
}

.card-gizi .card-gizi-content:nth-child(1) h2 {
  color: #4c7ceb;
}
.card-gizi .card-gizi-content:nth-child(2) h2 {
  color: #4c7ceb;
}
.card-gizi .card-gizi-content:nth-child(3) h2 {
  color: #4c7ceb;
}
.card-gizi .card-gizi-content:nth-child(4) h2 {
  color: #4c7ceb;
}

.card-mikronutrien {
  border: 1px solid #8d8c8c46;
  border-radius: 8px;
  padding: 20px;
}

.card-mikronutrien p {
  display: flex;
  justify-content: space-between;
}
.card-mikronutrien p span {
  color: #4c7ceb;
  font-weight: bold;
  font-size: small;
}
.card-mikronutrien p:nth-child(3) span {
  color: #4c7ceb;
}
.card-mikronutrien p:nth-child(4) span {
  color: #4c7ceb;
}
.card-mikronutrien p:nth-child(5) span {
  color: #4c7ceb;
}
.card-target-kalori,
.card-mikronutrien,
.card-gizi-content {
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
}
/* Card yang berada diatas kanan */

/* Card dibawah */
.content-main-foodlog:nth-child(2) .card-foodlog-2 {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #8d8c8c46;
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
}
.border-bottom-content {
  border-bottom: 1px solid #4c7ceb;
}
.card-foodlog-2 h1 {
  margin: 0;
}
.card-foodlog-2 p {
  color: #8d8c8c;
}

.card-foodlog-2 table {
  width: 100%;
}
thead th {
  color: #2c3e7597;
}
.card-foodlog-2 td {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-foodlog-2 table td {
  height: 60px;
}
td {
  width: 150px;
}
.img-edit-del {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img-edit-del img {
  width: 20px;
  height: 20px;
}

.img-edit-del a:nth-child(1) {
  background-color: #4c7ceb;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-edit-del a:nth-child(2) {
  background-color: rgb(229, 8, 8);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .card-foodlog:nth-child(1) .input-row:nth-child(5) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    display: grid;
  }

  .img-div{
    display: none;
  }

  .input-row-5-content {
    grid-column: 1;
    width: 100%;
  }
  .input-kalori {
    grid-row: 1;
  }
  .input-protein {
    grid-row: 2;
  }
  .input-karbo {
    grid-row: 3;
  }
  .input-lemak {
    grid-row: 4;
  }

  .input-porsi, .input-unit{
    width: 50%;
  }
}