@font-face {
  font-family: "Momo Signature";
  src: url(../assets/font/Momo_Signature/MomoSignature-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #4a4a4a;
  background-color: #f8f9fe;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #f8f9fe;
  z-index: 2500;
  border-bottom: 1px solid #4a4a4a4d;
}

/* .header img{
  width: 35px;
  height: 35px;
} */

.hamburger{
  display: none;
  font-size: 28px;
  cursor: pointer;
}

#menu{
  display: none;
}

.nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
  width: 90dvw;
  max-width: 1470px;
}

.header ul {
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
  padding-left: 0;
}

.header li {
  list-style: none;
  font-size: medium;
  font-weight: 300;
  width: max-content;
  cursor: pointer;
  text-align: center;
  padding: 0 35px;
}

.header h3 {
  font-size: 30px;
  color: #4c7ceb;
  font-family: "Momo Signature", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.header li a:hover {
  color: #4c7ceb;
  transition: 0.1s ease-in-out;
}

.header ul li a {
  text-decoration: none;
  color: #4a4a4a;
}

.sign-up-in {
  gap: 15px;
  display: flex;
  width: 100%;
  max-width: 196px;
}

.sign-up-in a {
  padding: 13px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #f8f9fe;
  background-color: black;
}

.sign-up-in a:hover {
  color: #4c7ceb;
  background-color: rgba(0, 0, 0, 0.819);
}

.img-div{
  width: 197px;
}

.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  border-top: 1px solid #4a4a4a4d;
}
.footer-row-1 {
  width: 90%;
  max-width: 1470px;
  display: flex;
}

.footer-col {
  margin-right: 50px;
}

.footer-col {
  list-style: none;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer-col h3 {
  color: #4c7ceb;
  font-family: "Momo Signature";
}

.footer a {
  text-decoration: none;
  color: #4a4a4a;
  line-height: 4vh;
  width: max-content;
  height: max-content;
}

.footer a:hover {
  color: #4c7ceb;
}

.footer-row-2 {
  align-items: normal;
  width: 90%;
  max-width: 1470px;
  display: flex;
  justify-self: center;
  border-top: #4a4a4a4d 1px solid;
  padding: 20px 0;
  margin-top: 10px;
  font-size: small;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 1100;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 124, 235, 0.97); /* biru transparan */
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  z-index: 1000;
}

.menu-overlay .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

#menu:checked ~ .menu-overlay {
  display: flex;
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
}

.menu-overlay ul li {
  margin: 15px 0;
}

.menu-overlay ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.font-hungy{
  font-family: "Momo Signature";
  color: #4c7ceb;
}