@font-face {
  font-family: 'Momo Signature';
  src: url(../assets/font/Momo_Signature/MomoSignature-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  /* background:  linear-gradient(0deg, #fff 0%, #4c7ceb 100%, #6a9edc 0%) no-repeat; */
}
.container {
  width: 100%;
  max-width: 1470px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-atas {
  text-align: left;
    
}
.judul-laman {
  padding-left: 70px;
  padding-top: 30px;
}
.judul-pengingat {
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  width: 100%
}
.judul-pengingat h2 {
  display: flex;
}
.main-content {
  display: flex;
  width: 100%;
}
.dropdown-max {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
.dropdown-menu {
  width: 1px;
  height: 1px;
  padding-left: 70px;
  padding-bottom: 80px;
  position: relative;
}
.dropdown-menu h5 {
  width: 200px;
}
.isi-dropdown {
  position: absolute;
  background-color: #f8f9fe;
  min-width: 250px;
  box-shadow: 1px;
}
select {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
}
.isi-dropdown a {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  display: block;
}
.isi-dropdown a:hover {
  background-color: #6a9edc;
}
.dropdown-menu:hover .isi-dropdown {
  display: block;
}
.dropdown-menu:hover .jenis-pengingat {
  background-color: #6a9edc;
}
.jenis-pengingat {
  background-color: #f8f9fe;
  color: black;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  width: 250px;
  border-radius: 8px;
  text-align: left;
  font-size: small
}

.waktu {
  padding-top: 30px;
  padding-left: 70px;
}
.waktu input[type="time"] {
  width: 338px;
  border-radius: 8px;
  height: 50px;
  border: 1px solid gray;
  background-color: #f8f9fe;
}
.pengulangan {
  flex-direction: column;
  display: flex;
  padding-bottom: 10px;
  padding-left: 70px;
}
select {
  width: 340px;
  height: 50px;
  background-color: #f8f9fe;
  border: 1px solid gray;
}
.pesan-opsional {
  padding-left: 70px;
}
.pesan-opsional a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: #4c7ceb;
  box-shadow: 1px;
  border-radius: 8px;
  width: 345px;
  height: 30px;
  margin-top: 20px;
  padding: 10px 0 1px 0;
  text-align: center;
  color: #f8f9fe;
}
.pesan-opsional input[type="text"] {
  width: 335px;
  height: 100px;
  border-radius: 10px;
  border:  1px solid gray;
  padding-left: 5px;
  background-color: #f8f9fe;
}
.section-kanan {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 60px;
}
.bagian-reminder {
  padding-top: 40px;
}
.teks-kanan {
  width: 100%
}
.teks-kanan p {
  padding-top: 14.5px;
}

.meal{
  background-color: #f8f9fe;
  box-shadow: 1px;
  border-radius: 10px;
  width: 350px;
  padding: 5px 0 10px 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
}
.content-kanan {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.detail-waktu, .detail-pesan {
  font-size: small;
  padding-bottom: 5px;
  margin: 0;
  font-weight: 200;
}
.tombol-plus {
  padding-top: 35px;
  padding-left: 110px;
}

.tombol-section-kanan {
  display: flex;
  width: 40px;
  height: 30px;
  margin-top: 5px;
  color: #f8f9fe;
  cursor: pointer;
  background-color: #4c7ceb;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 6px;
  border: none;
}
.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.footer-row-1 {
  width: 90%;
  display: flex;
  justify-self: center;
}

.footer-col {
  margin-right: 50px;
}

.footer-col {
  list-style: none;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer-col h3 {
  color: #698ae8;
  font-family: "Momo Signature", cursive;
  margin-bottom: 5px;
}
.footer a {
  text-decoration: none;
  color: #4a4a4a;
  line-height: 30px;
  width: max-content;
  height: max-content;
}

.footer a:hover {
  color: #4c7ceb;
}

.footer-row-2 {
  align-items: normal;
  width: 90%;
  display: flex;
  justify-self: center;
  border-top: #4a4a4a 1px solid;
  padding-top: 20px;
  margin-top: 20px;
  font-size: small;
}