@font-face {
  font-family: "Momo Signature";
  src: url(../assets/font/Momo_Signature/MomoSignature-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e5e5ea;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-sign-in {
  display: flex;
  height: 100%;
  max-height: 618px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  border-radius: 15px;
}

.content-1 {
  width: 420px;
  height: 100%;
  /* padding: 30px 50px; */
  background-color: #f8f9fe;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px 0px 0px 15px;
}

.content-2 {
  background: url(../assets/assets-sign-up-in/sign-up-content-2.jpg);
  background-size: cover;
  width: 400px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

h2,
p {
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

p {
  color: #6b7280;
  font-size: small;
}

p span {
  color: #4c7ceb;
  font-family: "Momo Signature";
}
.form-input {
  width: 80%;
  margin-top: 40px;
}
.icon{
    position: relative;
}
.icon img{  
    width: 17px;
    height: 17px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateY(87%);
    /* margin-top: 15px; */
    margin-left: 10px;
}
.icon-2{
  position: relative;
}
.icon-2 img{  
    width: 17px;
    height: 17px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    transform: translateY(-87%);
    cursor: pointer;
}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.password {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin-top: 15px;
}

.email input,
.password input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #6b7280;
  padding: 0 30px;
  position: relative;
  z-index: 1;
  font-size: 13px;
}


button {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #2e57b8;
  color: white;
}

.btn-signup {
  margin-top: 20px;
}

.btn-signup:hover{
    background-color: #26499a;
}


.btn-google{
  background-color: transparent;
  color: #4c7ceb;
  border: 1px solid #2e57b8;
}

.btn-apple {
  background-color: transparent;
  color: #4c7ceb;
  border: 1px solid #2e57b8;
  margin-top: 20px;
}

.btn-google, .btn-apple{
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.btn-google img, .btn-apple img{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  transform: translateY(50%);
}

.btn-google:hover .btn-img-google{
  opacity: 0;
}
.btn-google:hover .btn-img-google-2{
  opacity: 1;
}

.btn-apple:hover .btn-img-apple{
  opacity: 0;
}
.btn-apple:hover .btn-img-apple-2{
  opacity: 1;
}

.btn-google::after, .btn-apple::after{
  content: "";
  position: absolute;
  background-color: #26499a;
  color: #f8f9fe;
  /* left: 0;
  bottom: 0;
  top: 0;
  right: 0; */
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease;
}
.btn-google:hover::after, .btn-apple:hover::after{
  width: 100%;
}
.btn-google:hover, .btn-apple:hover{
  color: #f8f9fe;
}
/* .btn-google::after, .btn-apple::after{
  content: "";
  position: absolute;
}

.btn-google:hover, .btn-apple:hover{
  background-color: #2e57b8;
  color: #f8f9fe;
} */

.mid-line {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 30px 0;
  font-size: small;
}
.mid-line::after,
.mid-line::before {
  content: " ";
  flex: 1;
  border-bottom: 1px solid #6b7280;
}
.mid-line span {
  padding: 0 10px;
  color: #6b7280;
}

.daftar-link {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 0 10px;
  justify-content: center;
}
.daftar-link p {
  margin: 0;
  font-size: small;
}
.daftar-link a {
  font-size: small;
  text-decoration: none;
  color: #4c7ceb;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.daftar-link a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #4c7ceb;
  transition: width 0.4s ease;
}

.daftar-link a:hover::after{
  width: 100%;
}

.content-2 h3{
    font-size: 15px;
    font-weight: 600;
    color: #f8f9fe;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-2 h3 span{
    font-family: "Momo Signature";
    font-size: 45px;
    margin-top: 20px;
}