/* Global CSS Styling */
@font-face{
  font-family: 'Momo Signature';
  src: url(../assets/font/Momo_Signature/MomoSignature-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100dvh;
  color: #4a4a4a;
  background-color: #f8f9fe;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 90%;
}

.nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0;
  text-align: center;
  margin: 0;
  width: 100%;
}

.header ul {
  justify-content: space-between;
  align-items: center;
  display: grid;
  text-align: center;
  grid-template-rows: (repeat, 1fr);
  padding-left: 0;
  text-align: center;
}

.header li {
  list-style: none;
  font-size: medium;
  font-weight: 300;
  grid-row: 1;
  width: max-content;
  cursor: pointer;
  text-align: center;
  padding: 0 35px 0 35px;
}

.header h3 {
  font-size: 3vh;
  color: #4c7ceb;
  font-family: "Momo Signature", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.header li a:hover {
  color: #4c7ceb;
  transition: 0.1s ease-in-out;
}

.header ul li a {
  text-decoration: none;
  color: #4a4a4a;
}

.nav img {
  width: 30px;
  height: 30px;
}

.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer-row-1 {
  width: 90%;
  display: flex;
  justify-self: center;
}

.footer-col {
  margin-right: 50px;
}

.footer-col {
  list-style: none;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer-col h3 {
  color: #4c7ceb;
  font-family: 'Momo Signature';
}

.footer a {
  text-decoration: none;
  color: #4a4a4a;
  line-height: 4vh;
  width: max-content;
  height: max-content;
}

.footer a:hover {
  color: #4c7ceb;
}

.footer-row-2 {
  align-items: normal;
  width: 90%;
  display: flex;
  justify-self: center;
  border-top: #4a4a4a 1px solid;
  padding-top: 20px;
  margin-top: 20px;
  font-size: small;
}
/* Bagian home & food log // Rifat */
.main-1-home {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg,#f8f9fe 0% , #4c7ceb 100%, #6a9edc 0%);
  /* background: url(../assets/assets-home-foodlog/main-1-content.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; */
}

.main-1-home-content {
  width: 90%;
  grid-template-columns: 2fr 1fr;
  display: grid;
  padding: 100px;
}

.main-1-home-content h2 {
  font-size: 5vh;
  color: #f8f9fe;
  line-height: 10px;
}

.main-1-home-content p {
  color: #f8f9fe;
  margin-bottom: 40px;
}

.main-1-home-content a {
    padding: 15px;
    background-color: #4c7ceb;
    border-radius: 10px;
    color: #f8f9fe;
    margin-right: 13px;
    cursor: pointer;
}

.content-home-1 {
  width: 60%;
  padding: 0;
}

.content-2-home-1 {
  width: 40%;
  padding: 0;
  background: url(../assets/assets-home-foodlog/main-1-content.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  padding: 0;
  margin: 0;
  height: 300px;
  width: 100%;
  animation: float 3s ease-in-out infinite;
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.content-2-home-1:hover{
    box-shadow: rgba(0, 0, 0, 100);
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }
}

.main-2-home{
  width: 90%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 4px;
  background-color: #e5e6eb;
}

.main-2-home h2{
  font-size: 4.1vh;
}

.main-2-home p{
  font-size: small;
}

.main-2-content-1{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card-main-2{
  height: max-content;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fe;
}