/* Global CSS Styling */
@font-face{
  font-family: 'Momo Signature';
  src: url(../assets/font/Momo_Signature/MomoSignature-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
*{
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100dvh;
  color: #4a4a4a;
  background-color: #f8f9fe;
}

.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
  width: 90%;
}

.header ul {
  justify-content: space-between;
  align-items: center;
  display: grid;
  text-align: center;
  grid-template-rows: (repeat, 1fr);
  padding-left: 0;
  text-align: center;
}

.header li {
  list-style: none;
  font-size: medium;
  font-weight: 300;
  grid-row: 1;
  width: max-content;
  cursor: pointer;
  text-align: center;
  padding: 0 35px 0 35px;
}

.header h3 {
  font-size: 3vh;
  color: #4c7ceb;
  font-family: "Momo Signature", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.header li a:hover {
  color: #4c7ceb;
  transition: 0.1s ease-in-out;
}

.header ul li a {
  text-decoration: none;
  color: #4a4a4a;
}

.nav img {
  width: 30px;
  height: 30px;
}

.sign-up-in{
  gap: 15px;
  display: flex;
}

.sign-up-in a{
  padding: 13px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #f8f9fe;
  background-color: black;
}

.sign-up-in a:hover{
  color: #4c7ceb;
  background-color: rgba(0, 0, 0, 0.819);
}

.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}
.footer-row-1 {
  width: 90%;
  display: flex;
  justify-self: center;
}

.footer-col {
  margin-right: 50px;
}

.footer-col {
  list-style: none;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer-col h3 {
  color: #4c7ceb;
  font-family: 'Momo Signature';
}

.footer a {
  text-decoration: none;
  color: #4a4a4a;
  line-height: 4vh;
  width: max-content;
  height: max-content;
}

.footer a:hover {
  color: #4c7ceb;
}

.footer-row-2 {
  align-items: normal;
  width: 90%;
  display: flex;
  justify-self: center;
  border-top: #4a4a4a 1px solid;
  padding: 20px 0;
  margin-top: 10px;
  font-size: small;
}
/* Bagian home & food log // Rifat */
.main-1-home {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg,#e5e6eb 0% , #4c7ceb 100%, #6a9edc 0%);
  /* background: url(../assets/assets-home-foodlog/main-1-content.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; */
}

.main-1-home-content {
  width: 90%;
  grid-template-columns: 2fr 1fr;
  display: grid;
  padding: 80px 0;
}

.main-1-home-content h2 {
  font-size: 5vh;
  color: #f8f9fe;
  line-height: 20px;
}

.main-1-home-content p {
  color: #f8f9fe;
  margin-bottom: 40px;
}

.main-1-home-content a {
    padding: 15px;
    background-color: #4c7ceb;
    border-radius: 10px;
    color: #f8f9fe;
    margin-right: 13px;
    cursor: pointer;
}

.main-1-home-content a:hover{
  background-color: #4c7cebc3;
}

.content-home-1 {
  width: 60%;
  padding: 0;
}

.content-home-1 span{
  font-family: 'Momo Signature';
}

.content-2-home-1 {
  width: 40%;
  padding: 0;
  background: url(../assets/assets-home-foodlog/main-1-content.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  padding: 0;
  margin: 0;
  height: 300px;
  width: 100%;
  animation: float 3s ease-in-out infinite;
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.content-2-home-1:hover{
    box-shadow: rgba(0, 0, 0, 100);
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }
}

.main-2-home{
  width: 100%;
  padding: 80px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 4px;
  background-color: #e5e6eb;
}

.main-2-home span{
  color: #4c7ceb;
  font-family: 'Momo Signature';
}

.main-2-home h2{
  font-size: 4.1vh;
}

.main-2-home p{
  font-size: small;
}


.card-main-2{
  padding: 10px;
  border-radius: 15px;
  height: 1fr;
  width: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
}

.card-main-2 img{
  width: 50px;
  height: 50px;
}

.main-2-content-1{
  display: grid;
  margin-top: 45px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  gap: 15px;
}

.main-2-content-1 .card-main-2:nth-child(1){
  grid-row: 1;
  grid-column: 1;
}

.main-2-content-1 .card-main-2:nth-child(2){
  grid-row: 1;
  grid-column: 2;
}

.main-2-content-1 .card-main-2:nth-child(3){
  grid-row: 1;
  grid-column: 3;
}

.main-2-content-1 .card-main-2:nth-child(4){
  grid-row: 2;
  grid-column: 1;
}

.main-2-content-1 .card-main-2:nth-child(5){
  grid-row: 2;
  grid-column: 2;
}

.main-2-home .main-2-content-1 .card-main-2:nth-child(6){
  grid-row: 2;
  grid-column: 3;
}

.main-3-home{
  width: 100%;
  height: max-content;
  background-color: #f8f9fe;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

.main-3-content{
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.card-main-3{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1fr;
  height: 1fr;
  border-radius: 15px;
  padding: 0;
}

.card-main-3 img{
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.card-main-3 p{
  margin: 0;
  width: 80%;
}

.main-4-home{
  width: 100%;
  height: max-content;
  background-color: #e5e6eb;
  padding: 80px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-4-content{
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.card-main-4{
  width: 1fr;
  height: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  background-color: #f8f9fe;
  cursor: pointer;
}

.card-main-4 p{
  width: 100%;
}

.isi-card-4{
  justify-content: left;
  align-items: start;
  text-align: left;
  width: 100%;
  margin-top: 30px;
}

.isi-card-4 img{
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  background: url(../assets/assets-home-foodlog/assets-home/oda.png);
  background-size: cover;
  border-radius: 50%;
}

.isi-card-4 span{
  color: #4c7ceb;
  font-weight: bold;
}

.isi-card-4 p{
  margin: 0;
}

.main-5-home{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 90px 0;
}

.main-5-content{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.card-main-5{
  background: url(../assets/assets-home-foodlog/assets-home/quinoa.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: #e5e6eb;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
}

.card-main-5:hover{
  background-color: rgba(0, 0, 0, 0.6);
}

.card-main-5 span{
  color: rgba(87, 255, 152, 0.8);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
}
.card-main-5 span p{
  background: rgba(104, 194, 88, 0.4);
  padding: 10px;
  border-radius: 40px;
  width: max-content;
}

.main-6-home{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: #4c7ceb;
  background: linear-gradient(90deg,#6a9edc 0%, #4c7ceb 100%, #4a4a4a 0%);
  padding: 90px 0;
  flex-direction: column;
  color: black;
}

.main-6-home button{
  border-radius: 15px;
  padding: 17px 40px;
  margin-top: 10px;
  background-color: black;
  color: #f8f9fe;
  border: none;
  cursor: pointer;
}

.main-6-home button:hover{
  background-color: rgb(0, 0, 0);
  color: #4c7ceb;
}